# Önce her şeyi ignore et
*

# Sadece Python dosyalarını dahil et
!*.py

# README dosyaları
!README
!README.*
!readme
!readme.*

# Klasörlere erişim izni ver
!*/

# Ama büyük/gereksiz klasörleri tekrar ignore et
venv/
__pycache__/
models/
odev_veri_seti/
proje_data/

# Python cache
*.pyc

# Gitignore dosyasını dahil et
!.gitignore
